.main-grid {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "fs fs"
    "fs fs";

  >* {
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }

  &.after-git-init {
    grid-template-areas:
      "cd cd"
      "fs git";

    .fs {
      border-color: lightskyblue;
    }
  }

  &.only-repo {
    grid-template-areas:
      "git git"
      "git git";
  }

  &.with-remote {
    grid-template-areas:
      "cd cd"
      "git rmt";

  }
}

.commands {
  grid-area: cd;
  text-align: left;
  font-size: 1.5rem;
  padding: 1em;
}

/* FS */

.fs {
  grid-area: fs;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  position: relative;

  &.all-untracked>div {
    color: khaki;
  }

  &.all-staged>div,
  >div.staged {
    color: lightgreen;
  }

  >div.modified {
    color: khaki;
  }

  >div {
    display: inline-flex;
    flex-direction: column;

    i {
      margin-bottom: 0.2em;

      &.fa-solid+label {
        font-size: 0.8rem;
      }
    }
  }

  &::before {
    content: 'Project file system';
    font-size: .6rem;
    position: absolute;
    top: .1em;
    left: .4em;
  }
}

/* GIT */

.git {
  display: grid;
  grid-area: git;
  border: 2px solid lightskyblue;
  gap: .5em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "ws br"
    "sg br";

  font-size: 0.8rem;
  text-align: left;
  padding: 1em;
  position: relative;

  >* {
    border-radius: 5px;
    border: 2px solid whitesmoke;
    padding: .5em;
  }

  &::before {
    content: 'Git repository';
    font-size: .6rem;
    position: absolute;
    top: .1em;
    left: .4em;
  }

  .workspace {
    grid-area: ws;
    border-color: khaki;
    position: relative;

    &::before {
      content: 'Workspace changes';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }

  .stage {
    grid-area: sg;
    border-color: lightgreen;
    position: relative;

    &::before {
      content: 'Staging area';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }
  .branch {
    grid-area: br;

    &::before {
      content: 'Branch: "master"';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }
}

.branch {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .timeline {
    position: absolute;
    width: .2rem;
    height: calc(100% - 2rem);
    left: calc(50% - .1rem);
    background-color: whitesmoke;

    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 10px);
      top: -1rem;
      border-top: 10px solid transparent;
      border-bottom: 10px solid whitesmoke;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }

  .commit {
    z-index: 1;
    margin-bottom: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: lightcoral;
    position: relative;

    &::after {
      content: '8743b52063cd8409...';
      position: absolute;
      color: lightcoral;
      font-size: 0.5rem;
      left: 1.5rem;
      top: -.8rem;
    }

    &.with-tag {

      border: 2px solid whitesmoke;
      
      &::before {
        content: 'V1.0.0';
        position: absolute;
        color: whitesmoke;
        font-size: 0.5rem;
        right: 1.5rem;
        top: -.8rem;
      }
    }

    &.commit-2 {
      &::after {
        content: 'cde30412d230681...';

      }
    }

    &.commit-3 {
      &::after {
        content: 'f123ab42c2691dd...';

      }
    }

    &.commit-4 {
      &::after {
        content: 'bd3bd2314267a98...';

      }
    }

    &.commit-5 {
      &::after {
        content: 'ea3152368cd58235...';

      }
    }

    &.head {
      border: 2px solid greenyellow;
    }
  }

}

.remote {
  border-style: dashed;
  &::before {
    content: 'Remote git repository hosted on Github';
    font-size: .6rem;
    position: absolute;
    bottom: .1em;
    left: .4em;
  }

  &::after {
    content: 'Branch: "master"';
    font-size: .6rem;
    position: absolute;
    top: .1em;
    right: .4em;
  }
}

.branches {
  display: flex;
  gap: 1em;

  > * {
    flex: 1;
    border: 2px solid whitesmoke;
    border-radius: 2px;
  }

  .master {
    &::after {
      content: 'Branch: "master"';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }

  .dev {
    &::after {
      content: 'Branch: "dev"';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }

  .experimental-functionalities {
    &::after {
      content: 'Branch: "experimental-functionalities"';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      right: .4em;
    }
  }
}

.git-global-config {
  display: grid;
  gap: .5em;
  padding: .5em;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  border: 2px solid whitesmoke;

  &::after {
    content: 'Installazione git su macchina';
    font-size: .6rem;
    position: absolute;
    top: .1em;
    left: .4em;
  }

  .git-local-config {
    flex: 1;
    padding: 2rem;
    position: relative;
    &::after {
      content: 'Repository git in progetto';
      font-size: .6rem;
      position: absolute;
      top: .1em;
      left: .4em;
    }
    border: 2px solid whitesmoke;
  }
}

.git-command {
  color: aqua;
}

.git-flag {
  color: red
}

.git-arg {
  color: greenyellow;
}

.git-subcommand {
  color: aquamarine;
}